body {
  background: #efefef;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul,li{list-style: none;}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.siteWelcome{display: none; width: 100%;height: 100%;position: fixed;z-index: 1;background: #f8f9fb;}
.siteWelcome.active{display: block;}
.loading:before,.loading:after{content: '';width: 0px;height: 0px;border-radius: 50%;background: #000;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;
    animation: loading 1.5s linear infinite;}
.loading:after{animation-delay: 0.7s;}
@keyframes loading {
    0%{
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}


.topNavBar {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  transition: all 0.5s;
}
.topNavBar-inner {
  padding: 0 16px;
}
.topNavBar nav {
  padding-top: 7px;
}
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
    position: relative;
}
.topNavBar nav > ul > li .submenu{
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: none;
}
.topNavBar nav > ul > li .submenu li{
    white-space: nowrap;
    color: #333;
    padding: 5px;
}
.topNavBar nav > ul > li.active .submenu{
    display: block;
    animation: slideMenu .3s;
}
@keyframes slideMenu {
    0%{margin-right: 100%;}
    100%{margin-right: 0;}
}

.topNavBar nav > ul > li > a {
  display: block;
  position: relative;
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
}
.topNavBar nav > ul > li.active > a::after,.topNavBar nav > ul > li.highlight > a::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    height: 3px;
    background: #e6686a;
    animation:menuSlide .3s;
}
@keyframes menuSlide{
    0%{  width: 0;  }
    100%{  width: 100%;  }
}


.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.banner {
  height: 515px;
  background-image: url(../img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.userCard .welcome {
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .picture {
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard .text h1{
  margin-top: 18px;
}
.userCard .text hr{
  margin: 20px 0;
}
.userCard .pictureAndText {
  padding: 50px;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}

.userCard > footer.media{
  background: #E6686A;
  text-align: center;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF5D5F;
}
.userCard svg{
  width: 30px;
  height: 30px; 
  fill: white;
  vertical-align: top;
}
.download_button{
	text-align: center;
	margin-top: 30px;
}
.download{
	display: inline-block;
	vertical-align: top;
	color: #666;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	transition:box-shadow 0.2s;
}
.download:hover{
	box-shadow: 2px 2px 15px #ccc;
}
.self{
	margin-top: 30px;
	font-size: 24px;
	color: #333;
	text-align: center;
}

.skills{
	max-width: 940px;
	margin: 0 auto;
}
section.skills,section.portfolio{margin-top: 100px;}
.skills ol{
	padding: 40px 40px 20px 40px;
	box-sizing: border-box;
	box-shadow: 2px 2px 20px #ccc;
}
.skills h2,.portfolio h2{
	text-align: center;
	color: #333;
	font-size: 34px;
	margin: 40px 0 20px 0;
}
section.portfolio{
	margin-bottom: 30px;
}
.skills li{
	width: 48%;
	float: left;
	list-style: none;
	margin-bottom: 20px;
}
.skills li h3{
	margin-bottom: 10px;
	font-weight: normal;
	color: #666;
	
}
.skills li:nth-child(even){
	float: right;
	
}
.progressBar{
	width: 100%;
	height: 5px;
	background: #FAE1E1;
	border-radius: 4px;
    overflow: hidden;
}
.progress{
	height: 100%;
	background: #E6686A;
	border-radius: 4px;
    transform: translateX(0%);
    transition: all 1s;
}
.skills.offset .progress{
    transform: translateX(-100%);
}
.portfolio{
	text-align: center;
	max-width: 940px;
	margin: 0 auto;
}
.portfolio nav,.portfolio nav ol{
	display: inline-block;
	vertical-align: top;
}
.portfolio nav{
	margin-bottom: 20px;
}
.portfolio nav ol li{
	display: inline-block;
	margin-left: 20px;
	cursor: pointer;
	
}
.portfolio nav ol li:first-child{
	margin-left: 0px;
}
.bar{
	height: 5px;
	border-radius: 4px;
	background: #fff;
	margin: 8px 0;
}
.bar .inner{
	height: 100%;
	background: #E6686A;
	border-radius: 4px;
	transition: all .2s;
}
.bar.status1 .inner{
	margin-left: 0;
	width: 32px;
}
.bar.status2 .inner{
	margin-left: 58px;
	width: 32px;
}
.bar.status3 .inner{
	margin-left: 114px;
	width: 90px;
}
.jobs{
	position: relative;
}
.jobs>div{
	position: absolute;
}
/*课程21 增加*/
.topNavBar.sticky{
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.topNavBar.sticky nav > ul > li > a{
    color: #333;
}
[data-x].active{
    border: 1px solid red;
}
[data-x]{
    transform:translateY(0px);
    transition: all .5s;
}
[data-x].offset{
    transform:translateY(100px);
}



